.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.pointer-events-none {
  pointer-events: none
}

.\!visible {
  visibility: visible !important
}

.visible {
  visibility: visible
}

.static {
  position: static
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-2\.5 {
  left: 0.625rem
}

.right-2 {
  right: 0.5rem
}

.right-2\.5 {
  right: 0.625rem
}

.top-1\/2 {
  top: 50%
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.table-row {
  display: table-row
}

.grid {
  display: grid
}

.h-1\.5 {
  height: 0.375rem
}

.h-10 {
  height: 2.5rem
}

.h-2 {
  height: 0.5rem
}

.h-3 {
  height: 0.75rem
}

.h-3\.5 {
  height: 0.875rem
}

.h-5 {
  height: 1.25rem
}

.h-7 {
  height: 1.75rem
}

.h-8 {
  height: 2rem
}

.h-9 {
  height: 2.25rem
}

.w-1\.5 {
  width: 0.375rem
}

.w-2 {
  width: 0.5rem
}

.w-3 {
  width: 0.75rem
}

.w-3\.5 {
  width: 0.875rem
}

.w-7 {
  width: 1.75rem
}

.w-8 {
  width: 2rem
}

.w-full {
  width: 100%
}

.min-w-\[1\.25rem\] {
  min-width: 1.25rem
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.animate-spin {
  animation: spin 1s linear infinite
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.resize {
  resize: both
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.flex-col {
  flex-direction: column
}

.place-items-center {
  place-items: center
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-1\.5 {
  gap: 0.375rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-4 {
  gap: 1rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded {
  border-radius: 4px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 10px
}

.rounded-md {
  border-radius: 6px
}

.rounded-sm {
  border-radius: 2px
}

.border {
  border-width: 1px
}

.border-border {
  border-color: var(--color-border)
}

.border-current {
  border-color: currentColor
}

.border-t-transparent {
  border-top-color: transparent
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-rgb) / var(--tw-bg-opacity, 1))
}

.bg-accent-soft {
  background-color: var(--color-accent-soft)
}

.bg-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-danger-rgb) / var(--tw-bg-opacity, 1))
}

.bg-danger\/15 {
  background-color: rgb(var(--color-danger-rgb) / 0.15)
}

.bg-danger\/20 {
  background-color: rgb(var(--color-danger-rgb) / 0.2)
}

.bg-muted {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-rgb) / var(--tw-bg-opacity, 1))
}

.bg-subtle {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-subtle-rgb) / var(--tw-bg-opacity, 1))
}

.bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-success-rgb) / var(--tw-bg-opacity, 1))
}

.bg-success\/15 {
  background-color: rgb(var(--color-success-rgb) / 0.15)
}

.bg-surface {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-surface-rgb) / var(--tw-bg-opacity, 1))
}

.bg-surface-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-surface-2-rgb) / var(--tw-bg-opacity, 1))
}

.bg-surface-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-surface-3-rgb) / var(--tw-bg-opacity, 1))
}

.bg-transparent {
  background-color: transparent
}

.bg-warning {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-warning-rgb) / var(--tw-bg-opacity, 1))
}

.bg-warning\/15 {
  background-color: rgb(var(--color-warning-rgb) / 0.15)
}

.p-5 {
  padding: 1.25rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pl-8 {
  padding-left: 2rem
}

.pr-16 {
  padding-right: 4rem
}

.pr-3 {
  padding-right: 0.75rem
}

.pr-8 {
  padding-right: 2rem
}

.font-mono {
  font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, monospace
}

.font-sans {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-\[10px\] {
  font-size: 10px
}

.text-\[11px\] {
  font-size: 11px
}

.text-\[12\.5px\] {
  font-size: 12.5px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[13px\] {
  font-size: 13px
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[15px\] {
  font-size: 15px
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.leading-none {
  line-height: 1
}

.tracking-tight {
  letter-spacing: -0.015em
}

.tracking-wide {
  letter-spacing: 0.025em
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(var(--color-accent-rgb) / var(--tw-text-opacity, 1))
}

.text-accent-ink {
  --tw-text-opacity: 1;
  color: rgb(var(--color-accent-ink-rgb) / var(--tw-text-opacity, 1))
}

.text-danger {
  --tw-text-opacity: 1;
  color: rgb(var(--color-danger-rgb) / var(--tw-text-opacity, 1))
}

.text-fg {
  --tw-text-opacity: 1;
  color: rgb(var(--color-fg-rgb) / var(--tw-text-opacity, 1))
}

.text-muted {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-rgb) / var(--tw-text-opacity, 1))
}

.text-subtle {
  --tw-text-opacity: 1;
  color: rgb(var(--color-subtle-rgb) / var(--tw-text-opacity, 1))
}

.text-success {
  --tw-text-opacity: 1;
  color: rgb(var(--color-success-rgb) / var(--tw-text-opacity, 1))
}

.text-warning {
  --tw-text-opacity: 1;
  color: rgb(var(--color-warning-rgb) / var(--tw-text-opacity, 1))
}

.shadow-\[0_1px_0_0_rgba\(255\2c 255\2c 255\2c 0\.12\)_inset\] {
  --tw-shadow: 0 1px 0 0 rgba(255,255,255,0.12) inset;
  --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-inset-hairline {
  --tw-shadow: inset 0 1px 0 0 rgba(255,255,255,0.04), inset 0 0 0 1px rgba(255,255,255,0.02);
  --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color), inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-lift-sm {
  --tw-shadow: 0 1px 0 0 rgba(255,255,255,0.05) inset, 0 1px 2px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(255,255,255,0.04);
  --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-150 {
  transition-duration: 150ms
}

.placeholder\:text-subtle::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(var(--color-subtle-rgb) / var(--tw-text-opacity, 1))
}

.placeholder\:text-subtle::placeholder {
  --tw-text-opacity: 1;
  color: rgb(var(--color-subtle-rgb) / var(--tw-text-opacity, 1))
}

.hover\:border-border-strong:hover {
  border-color: var(--color-border-strong)
}

.hover\:bg-danger\/30:hover {
  background-color: rgb(var(--color-danger-rgb) / 0.3)
}

.hover\:bg-surface-2:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-surface-2-rgb) / var(--tw-bg-opacity, 1))
}

.hover\:text-fg:hover {
  --tw-text-opacity: 1;
  color: rgb(var(--color-fg-rgb) / var(--tw-text-opacity, 1))
}

.hover\:brightness-110:hover {
  --tw-brightness: brightness(1.1);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.focus\:border-border-strong:focus {
  border-color: var(--color-border-strong)
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.active\:bg-danger\/25:active {
  background-color: rgb(var(--color-danger-rgb) / 0.25)
}

.active\:brightness-95:active {
  --tw-brightness: brightness(.95);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed
}

.disabled\:opacity-40:disabled {
  opacity: 0.4
}
